fastapi
uvicorn
aiohttp
pytubefix
pytest-asyncio
pytest
httpx
pytest-mock
pydantic
pydantic-settings
redis
fakeredis
asyncmock
instaloader
python-multipart
passlib[bcrypt]
bcrypt
PyJWT
python-jose
sqlalchemy[asyncio]
asyncpg
alembic